/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 22pt;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 600px;
  max-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
  #clubicons {
    height: 100px;
    width: 180px;
  }
  #limoicons {
    height: 90px;
    width: 160px;
  }
  #baricons {
    height: 6%;
    width: 6%;
  }
  #hotelicons {
    height: 16%;
    width: 16%;
  }
  .logotext {
    font-size: 11pt;
    align-items: left;
  }
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 26pt;
}
.modern {
  height: 30px;
}
#download-button {
  padding-top: 300px;
  width: 800px;
}
#homepageicons {
  height: 100px;
}
.collection-header {
  font-family: 'Ultra', serif;
  text-align: center;
  text-shadow: 4px;
  height: 90px;
  text-decoration-style: bold;
  padding-bottom: 50px;
  background-color: slategrey;
}
.btn-large {
  border: solid;
  border-color: white;
  width: 450px;
  font-family: 'Holtwood One SC', serif;
  font-size: 23pt;
  padding-bottom: 15px;
  color: white;
}
h2 {
  font-family: 'Cinzel', serif;
}
h3 {
  font-family: 'Holtwood One SC', serif;
}
h5 {
  font-family: 'Poiret One', cursive;
  font-size: 26pt;
}
h6 {
  font-family: 'Cinzel', serif;
  color: black;
}
nav {
  position: fixed;
  z-index: 1;
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#navbaricons {
  height: 60px;
  width: 150px;
}
.first-header {
  margin-top: 10px;
}
.container {
  width: 85%;
}
.card-header {
  color: white;
}
.firstcard {
  margin-top: 60px;
}
.row {
  height: 80%;
}


font-family: 'Cinzel', serif;
font-family: 'Righteous', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Ultra', serif;
font-family: 'Monoton', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Holtwood One SC', serif;
font-family: 'Bungee Shade', cursive;
